*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #A4DDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#main-menu {
    text-align: center;
    border: 5px solid red;
}
#main-menu h1 {
    font-size: 4rem;
    font-family: 'Lucida Console', "Courier Ne w", cursive;
    margin-bottom: 20px;
}
/* Buttons */
#start-btn {
    display: block;
    font-size: 1.5rem;
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #1a55d4;
    cursor: pointer;
}
#start-btn:hover {
    background-color: #1a55d4;
    color: #ffffff;
}
#next-btn {
    position: absolute;
    top: -50px;

    right: 20px;
    padding: 20px 20px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #1a55d4;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
#next-btn:hover {
    background-color: #ffffff;
    color: #1a55d4;
}

/* Name Area  */
.name-area label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 20px 0;
    display: block;
}
.name-area input {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    border: 2px solid #B0B0B0;
    border-radius: 6px;
    margin-top: 10px;

}
/* Game Screen */
#game-screen {
    position: relative;
    width: 100%;
    height: 100vh;
}

#background {
    width: 100%;
    height: fit-content;
    display: block;
}

#dialogue-box {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 50px;
    border-radius: 10px;
}

#character-name {
    top: -65px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: x-large;
    padding: 20px;
    
}
#character-head{
    position: absolute;
    top: -60px;
    left: 160;
}

#dialogue-text {
    font-size: large;
}

#character-head {
    display: block;
    left: -40px;
    top: -30px;
    border-radius: 10px;
}
